:root {
    --purple: rgb(84, 7, 156);
    --white: #FFFFFF;

  }



button, div, form, input {
    margin: 5px;
    color: var(--purple);
    
    
}

#submitPress {

    background: var(--purple);

    color: white;
    
    border-style: outset;
    
    border-color: var(--purple) ;
    
    height: 2rem;
    
    width: 6rem;
    
    font: bold 15px arial, sans-serif;

}

body {

    background-size: cover;

    background: url("../images/art-artistic-background-1831234.jpg");
  
}



img {

	width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
  
  
}

label {
    color:var(--white);
}

.btn-default {
    color: var(--purple);
    font-size: medium;
}


.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}

/*940px*/

@media (min-width: 940px) {

    button, div, form, input {
        
        font-size: 2rem;
         
     }
     #submitPress {

        font-size: 1rem;
    }
    img {

        font-size: 2rem;
    line-height: 1.5rem;
    }
}

/*640px*/

@media (min-width: 640px) {

    button, div, form, input {
        
       font-size: 1.5rem;
        
    }

    #submitPress {

        font-size: 1rem;
    }

    img {

    font-size: 2rem;
    line-height: 1.5rem;
    }
}

/*375px*/

@media (max-width: 375px) {

    button, div, form, input {
    font-size: 2rem;
    line-height: 1.5rem;
     
 }
  #submitPress {

        font-size: 1rem;
    }

    img {

        font-size: 2rem;
   
    }

}